# Ambientes virtuais
.venv
venv/
ENV/

# Arquivos de ambiente pyenv
.python-version

# Arquivos de cache Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de distribuição / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Arquivos de teste / cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Arquivos de log
*.log

# Arquivos específicos do VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.*

# Arquivos de configuração específicos do projeto
config.ini
secrets.json

# Arquivos temporários
*.tmp
*.bak
*.swp
*~

# Arquivos de saída do pytest
pytest_output.txt

# Arquivos específicos do seu projeto (adicione conforme necessário)
# exemplo: output/
# exemplo: data/

# Arquivos de dependências
pip-log.txt
pip-delete-this-directory.txt

# Arquivos de documentação
documentacao/_build/

# Arquivos de perfil de desempenho do Python
*.prof

# Arquivos Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Arquivos front
node_modules